/*Hola Vic, esté código está realizado para version 1440* Desktop.*/
/*tipografias*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro");


body {
  padding: 0;
  margin: 0;
  width: 100vw;
  /* box-sizing: border-box;*/
  font-family: "Be Vietnam Pro";
}


i.fa-bars{
  display: none;
}


 main{
  margin: 5%;
 }

 /* button style*/
button {
  padding: 10px;
  background: #8b48bf;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  color: white;
  border: none;
}

.container-flex-header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  margin: 10%;
}

.flex-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 150%;
}

.flex-navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  width: 80%;
  color: #242E52;
  list-style: none;
}

 li:hover{
  opacity: 0.5;
  cursor: pointer;
  transform: translateX(24px);
}


button:hover{
  opacity: 0.5;
  cursor: pointer;
}

.logo1 {
  margin-top: 1%;
}


.first-container{
  display: flex;
  flex-direction: row;
  margin: 3% 3% 3%;
  padding-left: 7%;
  
}

.base-container h1{
  display: flex;
  flex-direction: column;
  font-size: 350%;
  
}

.container-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 200%;
  position: relative;
  width: 200%;
 
}

.container-1 h1{
  width: 130%;
  height: 60%;
  right: 5%;
  font-size: 65px;
  color:  #232C50;
}

.container-1 p{
  line-height: 180%;
  font-weight: bold;
  width: 82%;
  font-size: 20px;
  padding-right:50%;
  
}

.container-1 button{
  display: flex;
  
}
.comments-container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: 90%;
  padding: 8%;
}

.container-2-image{
  display: flex;
  flex-direction: row;
  
}


.seccond-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1%;

}

.seccond-container p{
  width: 100%;
  height: 40%;
  font-size: 24px;
 
}

/*What´s different about Manage.. container*/ 

.first-of-seccond-container{
  padding-bottom: 18%;
  padding-left: 5%;
  font-size: 25px;
  font-weight: bold;
  padding-right: 2%;
  color: #232851;

}

.first-of-seccond-container p{
  width: 105%;
  height: 25%;
  font-size: 24px;

}

.first-of-seccond-container button{
  display: flex;
  align-items: flex-start;
  padding-right: 40%;
}

.span-container{
  display: flex;
  flex-direction: column;
  margin-top: 9%;
  padding-left: 12%;
  

}

.span-container span{
  padding: 10px 20px;
  background: #8b48bf;
  border-radius: 50px;
  color: white;
  margin-right:2%;
  
 
}

.span-container p{
  margin-left: 11%;
  font-size: 110%;
  color: #B3B2B7;
  width: 83%;
  
}



 /* style for third big container*/

.comments-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3%;

}

.cards{
display: flex;
padding: 2%;

}
.comments-container h2{
  margin-bottom: 3%;
  padding: 3%;
  font-size:39px;
  color: #242E53;
}
.comments-container img{
  position:relative;
  bottom: 30px;
  
}

.global-cards{
  display: flex;
  background-color: #FAFAFA;
  justify-content: space-around;

 
}

.cards{

  display:flex;
  flex-direction: column;
  align-items: center;
}

.ante-footer{
  display: flex;
  width: 1439px;
  height:224px;
  background-color:#8B48BF ;
  justify-content: space-around;
  align-items: center;

}

.ante-footer h2{
  font-weight:normal;
  letter-spacing: -0.005em;
  font-style: normal;
  font-size: 29px;
  color: white ;
  width: 400px;
  
 
}

.ante-footer button{
  padding: 10px 25px;
  background-color: white;
  color:#8B48BF;

}


 /* footer styles*/

footer{
width: 1439px;
display: flex;
height: 247px;
background-color:#1E1E26;
justify-content: space-around;

}

.footer-1{
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.redes{
  display: flex;
  justify-content: space-around;
}


.list-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
  line-height: 40px;
 
}

.list-footer ul{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: white;
  list-style: none;
  width: 100%;
}

.list1-footer{
  display: flex;
  padding: 4% 70% 2% 0%;
}

.list2-footer{
  padding: 4% 2%;
  
}


 footer p{
  color: #8C8C94;
 }

form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
}

.container3-footer{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
padding: 2% 4% 3%;
}

.container3-footer button{
  display: flex;
  padding:10px 20px;
}
#email{
  border-radius: 50px;
  padding:10px 25px;
}


@media (max-width: 480px){

  body {
    margin:0;
    width: 100vw;
  }

.first-container{
  display: flex;
  flex-direction: column-reverse;
}

.container-2 {
  width: 100vw;
  
}

.container-2 img {
  width: 50%;
};

.seccond-container{
  display: flex;
  flex-direction: column;
}


.flex-navbar{
  display: none;

}


.container-flex-header button{
display: none;
}

.fa-bars{
  display: block;
  font-size: 200%;
  
}

.hidden{
  display: none;
}

.ante-footer{
  display: flex;
  flex-direction: column;

}

  .seccond-container{

    display: flex;
    flex-direction: column;
    
  }

  .seccond-container h4{
    background-color: rgb(40, 47, 71);
    border-radius: 50px 0px 0px 50px;
  }

    footer{
      display: flex;
      position: absolute;
    }
  }
  /*footer p{
    display: flex;
    top: 200px;
    position: absolute;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #1E1E26;
    width: 100vw;
    padding-top: 5px;

  }
*/

